<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between">
      <a href="#"
        class="text-white text-sm font-bold uppercase leading-relaxed whitespace-nowrap inline-block mr-4 py-2">
        The Handyist
      </a>
      <a href="#request">
        <button
          class="bg-blue-500 text-white hover:text-blue-800 hover:bg-gradient-to-r from-blue-300 to-blue-400 hover:shadow-md text-xs font-bold px-4 py-2 rounded shadow outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
          style="transition: all 0.15s ease 0s;">
          <i class="fa-solid fa-hand"></i>
          <span class="uppercase p-2 tracking-wide"> Request Service </span>
        </button>
      </a>
    </div>
  </div>
</nav>
