<div class="relative flex content-center items-center justify-center lg:h-svh" style="min-height: 75vh;">
  <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("/img/house.jpg");'>
    <span id="blackOverlay" class="w-full h-full absolute opacity-40 bg-black"></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="ms:w-6/12 m-auto text-center">
        <h1 class="text-white font-semibold text-7xl tracking-wider">
          We fix
        </h1>
        <h2 class="text-white font-semibold text-5xl tracking-wider pl-4">
          problems.
        </h2>
        <p class="text-gray-200 bg-gray-800 rounded opacity-75 text-xl py-2 mt-6 mb-2">
          Proudly serving Cleveland's
        </p>
        <p class="text-5xl font-light tracking-widest">
          Westside
        </p>
      </div>
    </div>
  </div>
</div>
