<div class="relative flex content-center items-center justify-center" style="min-height: 75vh;">
  <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("/img/handycap.jpg");'>
    <span id="blackOverlay" class="w-full h-full absolute opacity-70 bg-black"></span>
  </div>
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
        <h1 class="text-white font-semibold text-5xl tracking-wider pb-10">
          We fix problems!
        </h1>
        <p class="text-xl pb-3 italic"> Welcome </p>
        <a href="#pms">
          <button
            class="hover:bg-gradient-to-r from-orange-600 to-orange-800 text-gray-200 hover:bg-black hover:text-white hover:border-white bg-transparent border active:bg-blueGray-600 font-bold uppercase text-xs mr-2 px-4 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150">
            Property Managers
          </button>
        </a>
        <a href="#home-owners">
          <button
            class="hover:bg-gradient-to-r from-orange-600 to-orange-800 text-gray-200 hover:bg-black hover:text-white hover:border-white bg-transparent border active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150">
            Home Owners
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
