<div class="w-full max-w-2xl md:w-6/12 align-middle xl:m-auto">
  <div class="text-gray-300 text-xl">
    <p>
      The Handyist Company is the go-to solution for your home repair and improvement needs. With a commitment to
      customer satisfaction we take pride in providing reliable and efficient handyman services.
    </p>
    <p class="hidden lg:block pt-2">
      Trust us to deliver quality workmanship and personalized service to make your home a more comfortable and
      functional space. Discover the ease of working with a reliable handyman.
    </p>
  </div>
</div>
