
  <div class="w-full md:w-6/12 p-4 mr-auto ml-auto md:-mt-60">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-orange-600">
      <div class="relative h-72 overflow-hidden rounded-t-lg">
        <img src="/img/mastervanity-2after.jpg" onmouseover="this.src='/img/mastervanity-1before.jpg'" onmouseout="this.src='/img/mastervanity-2after.jpg'" alt="Tool-belt" class="absolute top-0 left-0 w-full object-cover w-full" />
      </div>
      <blockquote class="relative p-8 mb-4">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
          class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
          <polygon class="text-orange-600 fill-current" points="-30,95 583,95 583,65"></polygon>
        </svg>
        <h4 class="text-2xl font-bold text-white">
          Welcome
        </h4>
        <p class="mt-2 text-white text-xl">
          We are a small family operated handyman business proudly serving Cleveland's Westside.

        </p>
      </blockquote>
    </div>
  </div>
