  <header class="md:w-8/12 text-center">
    <div class="text-gray-300 text-xl text-left p-4 md:p-14 lg:p-20 rounded-md">
      <p>
        The Handyist Company is the go-to solution for your home repair and improvement needs. With a commitment to customer satisfaction we take pride in providing reliable and efficient handyman services.
      </p>
      <p class="mt-2">
        Trust us to deliver quality workmanship and personalized service to make your home a more comfortable and functional space. Discover the ease of working with a reliable handyman.
      </p>
    </div>
  </header>
