<div class="flex flex-wrap">

  {% for review in data.reviews %}
  <div class="w-full md:w-4/12 px-4 text-center">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
      <div class="px-4 py-5 flex-auto">
        <div
          class="bg-blue-400 text-white p-3 text-center inline-flex items-center justify-center text-4xl w-16 h-16 mb-5 shadow-lg rounded-full">
          <i class="fas fa-thumbtack"></i>
        </div>
        <h6 class="text-xl font-semibold text-black tracking-wide">{{ review.name }}</h6>
        {% for _ in (1..review.rating) %}
        <i class="fas fa-star text-yellow-500"></i>
        {% endfor %}
        <p class="mt-2 mb-4 text-gray-600">
          <i class="fas fa-quote-left"></i>
          {{ review.text }}
          <i class="fas fa-quote-right"></i>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
