<section class="bg-gray-700 relative p-20">

  <h3 class="text-3xl mb-2 font-semibold tracking-wide">
    Our Services
  </h3>

  {% assign cls = "py-2 px-4 shadow-md no-underline rounded-full bg-gray-900 text-gray-200 font-sans font-semibold text-sm
  border-blue hover:text-white hover:bg-blue-light focus:outline-none active:shadow-none mr-2 mb-2" %}

  <div class="justify-center my-8 select-none flex flex-wrap">

    <div class="{{ cls }}">AC Filter</div>
    <div class="{{ cls }}">Attic Fan</div>
    <div class="{{ cls }}">Attic Ladder</div>
    <div class="{{ cls }}">Baseboard Trim</div>
    <div class="{{ cls }}">Bath/Shower</div>
    <div class="{{ cls }}">Bathroom Exhaust Fan</div>
    <div class="{{ cls }}">Bathroom Remodeling</div>
    <div class="{{ cls }}">Blinds</div>
    <div class="{{ cls }}">Carbon Monoxide Alarm</div>
    <div class="{{ cls }}">Caulking</div>
    <div class="bg-orange-800 {{ cls }}">Ceiling Fan</div>
    <div class="{{ cls }}">General Cleaning</div>
    <div class="{{ cls }}">Closet Door</div>
    <div class="{{ cls }}">Curtain Rod Hanging</div>
    <div class="{{ cls }}">Doors and Locks</div>
    <div class="{{ cls }}">Dryer Duct/Vent Cleaning</div>
    <div class="bg-orange-800 {{ cls }}">Drywall</div>
    <div class="bg-orange-800 {{ cls }}">Electrical Work</div>
    <div class="bg-orange-800 {{ cls }}">Faucet</div>
    <div class="{{ cls }}">Fence/Gate</div>
    <div class="bg-orange-800 {{ cls }}">Vinyl Flooring</div>
    <div class="{{ cls }}">Furniture Assembly</div>
    <div class="{{ cls }}">Garage Doors and Openers</div>
    <div class="{{ cls }}">Garbage Disposal</div>
    <div class="{{ cls }}">Handrail</div>
    <div class="{{ cls }}">Light Fixture</div>
    <div class="{{ cls }}">Mailbox</div>
    <div class="{{ cls }}">Mirrors</div>
    <div class="{{ cls }}">Painting</div>
    <div class="bg-orange-800 {{ cls }}">Patch & Paint</div>
    <div class="{{ cls }}">Color Matching</div>
    <div class="{{ cls }}">Plumbing</div>
    <div class="{{ cls }}">Security Camera / Light</div>
    <div class="{{ cls }}">Shelf</div>
    <div class="{{ cls }}">Shower</div>
    <div class="{{ cls }}">Shutoff Valve</div>
    <div class="{{ cls }}">Sink</div>
    <div class="{{ cls }}">Skylight</div>
    <div class="{{ cls }}">Smoke Detector</div>
    <div class="{{ cls }}">Tile and Grout Cleaning</div>
    <div class="bg-orange-800 {{ cls }}">Toilets</div>
    <div class="{{ cls }}">Towel Bar</div>
    <div class="{{ cls }}">TV Mounting</div>
    <div class="{{ cls }}">Washer and Dryer</div>
    <div class="{{ cls }}">Screens</div>
    <div class="{{ cls }}">and more...</div>
  </div>

</section>
