<div class="text-gray-700 w-full md:w-5/12 px-4 mr-auto ml-auto">
  <div
    class="bg-gray-200 text-gray-700 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full">
    <i class="far fa-face-smile text-3xl"></i>
  </div>
  <h3 class="text-black text-3xl mb-2 font-semibold tracking-wide">
    Property Managers
  </h3>
  <p class="text-lg leading-relaxed mt-4 mb-4 tracking-wide">
    We know you want to keep the property owner happy as well as the tenants.
    You don't want call-backs and you don't want to be the one to fix it.
  </p>
  <p class="text-lg leading-relaxed mt-4 mb-4 tracking-wide">
    Just call us and we'll take care of it. When we're done we'll invoice
    you and if everyone's doing their job, we won't hardly need to talk on
    the phone.
  </p>
  <p class="text-gray-700 bg-transparent font-bold pt-2">
    <a href="#request">
      <button
        class="border border-solid border-gray-700 hover:bg-gray-700 hover:text-white active:bg-orange-600 active:text-white tracking-wider uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150">
        Let's Get To Work
      </button>
    </a>
  </p>
</div>
