<div class="w-full md:w-4/12 p-4 mr-auto ml-auto">
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-orange-600">
    <div class="relative h-72 overflow-hidden rounded-t-lg">
      <img src="/img/houses.jpg" alt="Houses" class="absolute top-0 left-0 w-full h-full object-cover" />
    </div>
    <blockquote class="relative mb-4 px-8 py-2">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
        class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
        <polygon points="-30,95 583,95 583,65" class="text-orange-600 fill-current"></polygon>
      </svg>
      <p class="text-white mt-2">
        Our skilled handyman services are designed to address the needs of both property owners and tenants efficiently.
      </p>
      <p class="bg-transparent text-white text-center font-bold pt-4 group">
        <span class="pr-4 invisible group-hover:visible font-normal">
          <i class="fa-solid fa-angles-right"></i>
        </span>
        <a href="#request">
          <button
            class="text-white border border-solid border-gray-200 hover:border-white hover:bg-white hover:text-orange-700 tracking-wider uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150">
            Let's Get To Work
          </button>
        </a>
        <span class="pl-4 invisible group-hover:visible font-normal">
          <i class="fa-solid fa-angles-left"></i>
        </span>
      </p>
    </blockquote>
  </div>
</div>
