<div class="text-gray-700 w-full md:w-5/12 px-4 mr-auto ml-auto pt-8">
  <h3 class="text-black text-3xl mb-2 font-semibold tracking-wide">
    Property Managers
  </h3>
  <h4 class="text-black text-2xl mb-2 tracking-wide">
    Ensuring Your Peace of Mind
  </h4>
  <p class="text-lg leading-relaxed mt-4 mb-4 tracking-wide">
    We understand the delicate balance you maintain between keeping property owners satisfied and ensuring tenant
    happiness. The last thing you need is the hassle of callbacks and the responsibility of fixing issues yourself.
  </p>
  <p class="text-lg leading-relaxed mt-4 mb-4 tracking-wide">
    Simply give us a call, and let us take care of it for you. With our reliable services, communication becomes a
    breeze - when everyone is doing their job effectively, phone calls become a rare necessity.
  <p class="text-gray-700 bg-transparent font-bold pt-2">
    <a href="#request">
      <button
        class="border border-solid border-gray-700 hover:bg-gray-700 hover:text-white active:bg-orange-600 active:text-white tracking-wider uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none ease-linear transition-all duration-150">
        Let's Get To Work
      </button>
    </a>
  </p>
</div>
