<div class="w-full md:w-5/12 ml-auto mr-auto px-4">
  <div class="md:pr-12">
    <h3 class="text-black text-3xl font-semibold">
      Home Owners
    </h3>
    <h4 class="text-black text-2xl mb-2 tracking-wide">
      Your Property in Good Hands
    </h4>
    <p class="mt-4 text-lg leading-relaxed text-gray-600">
      We take pride in our dedication to providing top-notch service. Whether it's a minor repair or a larger project,
      we approach each task with the same level of care and attention to detail.
    </p>
    <p class="mt-4 text-lg leading-relaxed text-gray-600">
      Consider us an extension of your commitment to your home. Experience the difference with our personalized and
      quality services.
    </p>
    <p class="mt-4 text-lg leading-relaxed text-gray-600">
      <a href="#request">
        <button
          class="text-gray-700 bg-transparent border border-solid border-gray-500 hover:bg-gray-500 hover:text-white active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
          Let's Get To Work
        </button>
      </a>
    </p>
  </div>
</div>

.
