<section class="bg-gray-900 relative pt-14 pb-20">

  <div class="container mx-auto">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12">
        <h2 class="text-4xl font-semibold text-white">
          Let's Build something
        </h2>
        <p class="text-lg leading-relaxed py-4 text-gray-400">
          Contact us today for your home maintenance needs.
        </p>
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">
          <div id="request" class="flex-auto p-5 lg:px-10">
            <p class="leading-relaxed pt-1 text-gray-600">
              When you submit this form with: name, email, phone and a description of what you're looking for along
              with a date you have in mind we will get back to you in 24 hours.
            </p>
          </div>
          <div id="71738696-af63-40e2-a393-dd413272f204" class="m-0"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!--
<script src="https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js"
  form_url="https://clienthub.getjobber.com/client_hubs/71738696-af63-40e2-a393-dd413272f204/public/work_request/embedded_work_request_form"
  clienthub_id="71738696-af63-40e2-a393-dd413272f204"></script> -->
