{% assign thumbtackUrl = 'https://www.thumbtack.com/oh/cleveland/handyman/pmx-services-llc/service/492545927340081163' %}

<div class="flex flex-wrap">

  <div class="w-full lg:w-6/12 px-4">
    <h4 class="text-gray-900 text-3xl font-semibold">
      Let's keep in touch!
    </h4>
    <div class="text-blue-400 py-5">
      <a href="{{ thumbtackUrl }}" target="_blank">
        <button
          class="bg-gray-300 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none"
          type="button">
          <i class="flex fas fa-thumbtack"></i>
        </button>
        <span class="text-blue-600 pl-2"> Thumbtack </span>
        <i class="fas fa-arrow-up-right-from-square text-sm"></i>
      </a>
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="flex flex-wrap items-top mb-6">
      <div class="text-black w-full px-4">
        <span class="block text-gray-600 text-md pb-2 font-semibold"> STEVEN ALMEROTH </span>
        <span class="block text-gray-600 text-md pb-2 font-medium"> Middleburg Heights </span>
        <span class="block text-gray-600 text-md pb-2 font-medium"> Cleveland, Ohio </span>
        <span class="block text-gray-600 text-md pb-2 font-medium"> 216-666-0300 </span>
      </div>
    </div>
  </div>

</div>
