<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between">
      <a href="#"
        class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white">
        The Handyist
      </a>
      <a href="#request">
        <button
          class="bg-orange-600 text-white text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
          style="transition: all 0.15s ease 0s;">
          <i class="fa-solid fa-hand"></i>
          <span class="p-2"> REQUEST SERVICE </span>
        </button>
      </a>
    </div>
  </div>
</nav>
