<section class="bg-white relative py-20">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div id="growing" class="container mx-auto px-4">
    <div class="items-center flex flex-wrap">
      <div class="w-full md:w-4/12 ml-auto mr-auto p-4">
        <img src="/img/family.jpg" class="max-w-full rounded-lg shadow-lg" alt="Family of father mother child and dog" />
      </div>
      <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
        <div class="md:pr-12">
          <div
            class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-orange-300">
            <i class="fas fa-rocket text-xl"></i>
          </div>
          <h3 class="text-black text-3xl font-semibold">A growing company</h3>
          <p class="mt-4 text-lg leading-relaxed text-gray-600">
            We are a small family-operated local business dedicated to providing top-notch property maintenance services
            with integrity.
          </p>
          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span
                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full bg-gray-100 text-gray-600 mr-3">
                    <i class="fas fa-hat-cowboy"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-gray-600"> Proudly serving Cleveland's west side </h4>
                </div>
              </div>
            </li>
          </ul>
          <p class="mt-4 text-lg leading-relaxed text-gray-600">
            <a href="#request">
              <button
                class="text-gray-700 bg-transparent border border-solid border-gray-500 hover:bg-gray-500 hover:text-white active:bg-blueGray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                Let's Get To Work
              </button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
