<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <title>{{ title }}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/img/vite.svg" />
    <link
      rel="stylesheet"
      href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css"
      media="screen" />
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/brands.css" />
    <link rel="stylesheet" href="/css/solid.css" />
  </head>
  <body class="bg-black text-white">
    {{ content -}}
  </body>
</html>
