---
layout: layout
url: https://handy.pmx.services/
logo: https://handy.pmx.services/img/pmx-logo-sq.png
image: https://handy.pmx.services/img/handycap.jpg
title: The Handyist
description: "The Handyist is a small business that provides handyman services to the greater Cleveland area."
---
{% include "+1_navi.html" %}
<main>
  {% include "+2_hero.html" %}
  {% include "+3_init.html" %}
  {% include "+3_serv.html" %}
  {% include "+4_gray.html" %}
  {% include "+5_whit.html" %}
  {% include "+6_form.html" %}
</main>
{% include "+9_foot.html" %}
