---
layout: layout
url: https://handy.pmx.services/
logo: https://handy.pmx.services/img/pmx-logo-sq.png
image: https://handy.pmx.services/img/handycap.jpg
title: The Handyist
description: "The Handyist is a small business that provides handyman services to the greater Cleveland area."
---
{% include "+10_navi.html" %}
<main>
  {% include "+20_hero.html" %}
  {% include "+30_init.html" %}
  {% include "+40_serv.html" %}
  {% include "+50_gray.html" %}
  {% include "+60_whit.html" %}
  {% include "+70_form.html" %}
</main>
{% include "+90_foot.html" %}
